[arxiv_prod]
host=https://search-arxlive-t2brq66muzxag44zwmrcfrlmq4.eu-west-2.es.amazonaws.com
port=443
index=arxiv_v1
type=_doc
region=eu-west-2

[arxiv_dev]
host=https://search-arxlive-t2brq66muzxag44zwmrcfrlmq4.eu-west-2.es.amazonaws.com
port=443
index=arxiv_dev
type=_doc
region=eu-west-2

[nih_prod]
host=https://search-health-scanner-5cs7g52446h7qscocqmiky5dn4.eu-west-2.es.amazonaws.com
port=443
index=nih_v5
type=_doc
region=eu-west-2

[nih_dev]
host=https://search-health-scanner-5cs7g52446h7qscocqmiky5dn4.eu-west-2.es.amazonaws.com
port=443
index=nih_dev
type=_doc
region=eu-west-2

[crunchbase_prod]
host=https://search-health-scanner-5cs7g52446h7qscocqmiky5dn4.eu-west-2.es.amazonaws.com
port=443
index=companies_v3
type=_doc
region=eu-west-2

[crunchbase_dev]
host=https://search-health-scanner-5cs7g52446h7qscocqmiky5dn4.eu-west-2.es.amazonaws.com
port=443
index=companies_dev
type=_doc
region=eu-west-2

[meetup_prod]
host=https://search-health-scanner-5cs7g52446h7qscocqmiky5dn4.eu-west-2.es.amazonaws.com
port=443
index=meetup_v3
type=_doc
region=eu-west-2

[meetup_dev]
host=https://search-health-scanner-5cs7g52446h7qscocqmiky5dn4.eu-west-2.es.amazonaws.com
port=443
index=meetup_dev
type=_doc
region=eu-west-2

[clio]
host=https://search-clio-dev-tbsy73r427mqh3qui67ytui2jq.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

[arxiv-eu_dev]
index=arxiv_dev
host=https://search-eurito-dev-vq22tw6otqjpdh47u75bh2g7ba.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

[arxiv-eu_prod]
index=arxiv_v0
host=https://search-eurito-dev-vq22tw6otqjpdh47u75bh2g7ba.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

[crunchbase-eu_dev]
index=companies_dev
host=https://search-eurito-dev-vq22tw6otqjpdh47u75bh2g7ba.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

[crunchbase-eu_prod]
index=companies_v0
host=https://search-eurito-dev-vq22tw6otqjpdh47u75bh2g7ba.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

[patstat-eu_dev]
index=patstat_dev
host=https://search-eurito-dev-vq22tw6otqjpdh47u75bh2g7ba.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

[patstat-eu_prod]
index=patstat_v0
host=https://search-eurito-dev-vq22tw6otqjpdh47u75bh2g7ba.eu-west-2.es.amazonaws.com
port=443
type=_doc
region=eu-west-2

