[mysqldb]
user=innovationMaster
password=innovationmapping
host=innovation-mapping-mysql-mysql5721.ci9272ypsbyf.eu-west-2.rds.amazonaws.com
port=3306
charset=utf8mb4
collation=utf8mb4_unicode_ci

[client]
user=innovationMaster
password=innovationmapping
host=innovation-mapping-mysql-mysql5721.ci9272ypsbyf.eu-west-2.rds.amazonaws.com
port=3306
#database=dbo
default-character-set=utf8mb4