alchemy_mock==0.4.1
alphabet_detector==0.0.7
beautifulsoup4==4.8.0
boto3==1.9.159
botocore==1.12.205
corextopic==1.0.6
elasticsearch==6.4.0
faiss-cpu==1.6.3
fuzzywuzzy==0.17.0
gensim==3.7.3
geopy==1.20.0
googletrans==3.0.0
jellyfish==0.7.1
luigi==2.8.6
lxml==4.6.3
matplotlib==3.1.1
mock==3.0.5
mysql_connector_repackaged==0.3.1
nltk==3.4.5
nuts_finder==0.1.7
numpy==1.16.4
pairing==0.1.3
pandas==0.24.2
py2neo==2020.0.0
pycountry==18.12.8
pycountry_convert==0.7.2
PyMySQL==0.9.3
pyshp==2.1.0
pytest>=5.0.0
PyVirtualDisplay==0.2.3
pyyaml==5.4
requests==2.22.0
requests_aws4auth==0.9
retrying==1.3.3
s3fs==0.2.1
schema==0.7.2
scikit_learn==0.21.3
scipy==1.2.2
selenium==3.141.0
sentencepiece==0.1.86
SetSimilaritySearch==0.1.7
setuptools==41.1.0
six>=1.12.0
SPARQLWrapper==1.8.4
SQLAlchemy==1.3.4
torch==1.6.0
toolz==0.10.0
urllib3==1.24.2
