[nomis]
dataset=NM_162_1
geography_type=local authorities: district / unitary (prior to April 2015),2011 scottish intermediate zones,regions
date_format=%%Y-%%M
date=latestMINUS1-latest
gender=0...2
age=0,2...4
measure=1
measures=20100
select=date,geography_name,geography_code,gender_name,gender_code,age_name,age_code,obs_value
