[nomis]
dataset=NM_17_5
geography_type=local authorities: district / unitary (prior to April 2015),regions
date_format=%%Y-%%m
date=latestMINUS54,latestMINUS50,latestMINUS46,latestMINUS42,latestMINUS38,latestMINUS34,latestMINUS30,latestMINUS26,latestMINUS22,latestMINUS18,latestMINUS14,latestMINUS10,latestMINUS6,latestMINUS2
variable=248...253,290,720...722,335,344
measures=20599,21001,21002,21003,20599,21001,21002,21003
select=date,geography_name,geography_code,variable_name,variable_code,obs_value