[nomis]
dataset=NM_131_1
geography_type=regions
date_format=%%Y-%%m
date=latestMINUS102,latestMINUS66,latestMINUS62,latestMINUS58,latestMINUS54,latestMINUS50,latestMINUS46,latestMINUS42,latestMINUS38,latestMINUS34,latestMINUS30,latestMINUS26,latestMINUS22,latestMINUS18,latestMINUS14,latestMINUS10,latestMINUS6,latestMINUS2
industry=150994945...150994964
sex=1...4
item=1
measures=20100
select=date,geography_name,geography_code,industry_name,industry_code,sex_name,sex_code,obs_value